
<h1>Listing Stages</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Stage</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <%=render :partial => 'stage', :locals => {:stage => stage}%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stage', new_stage_path, :class=>"btn btn-primary btn-padding" %>
