<div class = "procpectCard placeable" data-stage-id = "<%=prospect.stage_id%>">
  <div class = "card">
    <span class = "name"><%=prospect.name%></span>
    <span class = "city"><%=prospect.city%></span>
  </div>
</div>
