// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message{
margin: 0px;
height: 220px;
width: 181px;
}
.margin-10{
	margin-bottom:10px;
}