

<p>
  <strong>Email:</strong>
  <%= @email.email %>
</p>

<p>
  <strong>References:</strong>
  <%= @email.customer.name %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path(customer_id:@email.customer_id) %>
